form.new-repo {
	.btn-lg {
		margin-top: 0;
	}

	.header {
		border-bottom: 1px solid $light-gray;
		margin-bottom: $two;
		padding-bottom: $two;
	}

	input[type="text"] {
		width: 100%;
		font-size: $one-and-half;
		padding: $one $one-and-half;
		margin-bottom: $two;
		border-radius: $one;
		border: 1px solid $med-light-gray;
		outline: none;
		box-sizing: border-box;
	}
}