<div ng-include="'components/navbar/navbar.html'"></div>

<div class="page-wrapper">
  <div class="container clear-after">


  <form action="" ng-submit="createRepo(repoName, generator)" class="new-repo">
    <div class="header clear-after">
      <h1 class="float-left">Create a New Project</h1>
      <div class="float-right">
        <button class="btn btn-default btn-lg btn-blue" type="submit" ng-hide="creating">Create</button>
        <a class="success btn btn-default btn-lg" ng-show="creating">Creating...</a>
      </div>
    </div>

    <h2>1. Github Repo Name</h2>
    <input id="repo_name" placeholder="my-new-repo" type="text" ng-model="repoName">


    <div class="clear-after">
      <div class="float-left">
        <h2>2. Generator </h2>
        <!-- <ul>
          <li ng-repeat="name in templateNames">{{name}}</li>
        </ul> -->
        <label ng-repeat="name in templateNames">
          <input type='radio' ng-model="$parent.generator" ng-change="renderTemplate(generator)" ng-value="name" /> {{name}}
        </label>
      </div>
      <div>
        <repotemplate class="half file-structure" repotemplate='renderedTemplate'></repotemplate>
        <!-- <div ng-include="'app/projects/newProject/fileStructureTemplates/foundation.html'"></div> -->
      </div>
    </div>
  </form>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
