<div ng-include="'components/navbar/navbar.html'"></div>

<div class="page-wrapper">
  <div class="container clear-after">


  <form action="" ng-submit="createRepo(repoName, generator, deployment)" class="new-repo">
    <div class="header clear-after">
      <h1 class="float-left">Create a New Project</h1>
      <div class="float-right">
        <button class="btn btn-default btn-lg btn-blue" type="submit" ng-hide="creating">Create</button>
        <a class="success btn btn-default btn-lg" ng-show="creating">Creating...</a>
      </div>
    </div>
    <h2>1. Github Repo Name</h2>
    <input id="repo_name" placeholder="my-new-repo" type="text" ng-model="repoName">

    <h2>2. Deployment</h2>
        <label>
          <input type='radio' ng-model="deployment" value="gh-pages"> Github pages (suitable for apps with only client-side code)
        </label>
        <label>
          <input type='radio' ng-model="deployment" value="heroku"> Heruko  (suitable for apps with client-side and server-side code)
        </label>



    <div class="clear-after">
      <div class="float-left">
        <h2>3. Generator </h2>
        <label>
          <input type='radio' ng-model="generator" value="beginner"> Beginner
        </label>
        <label>
          <input type='radio' ng-model="generator" value="beginner-test"> Beginner Test
        </label>
        <label>
          <input type='radio' ng-model="generator" value="google-web-starter-kit"> Google Web Starter Kit
        </label>
        <label>
          <input type='radio' ng-model="generator" value="foundation"> Foundation
        </label>
        <p>{{generator}}</p>
      </div>
      <div>

        <div ng-include="'app/projects/newProject/fileStructureTemplates/foundation.html'"></div>
      </div>
    </div>
  </form>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
