.btn {
	outline: none;
	font-size: 16px;
	background-color: $blue;
}

.btn-lg {
	font-size: 28px;
	border: 1px solid #EBEBEB;
	margin-top: 20px;
}

// .btn-lg:hover {
// 	opacity: 0.7
// }

.btn-lg .fa {
	font-size: 33px;
	margin: 0 10px 0px 0px;
}

button {
	outline: none;
}