.DS_Store
node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
server/tempfiles
bower_components
/server/config/local.env.js
/client/app/min/app.cat.js
/client/app/min/app.cat.css
~$*
/data/*
*sublime-*