.DS_Store
node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
bower_components
server/config/local.env.js
server/tempfiles/*.*
client/app/min/app*
client/app/app.build.css
~$*
/data/*
*sublime-*
npm-debug.log