.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  /* Set the fixed height of the footer here */
  height: $five;
  background-color: transparent;

  .container {
    border-top: 1px solid rgba(0,0,0,0.2);
  }

  p {
  	margin: $one-and-half 0
  }
}