.file-structure {
	background: $light-gray;
	float: right;
	padding: $two $five;

	li {
		margin: $one 0;
		display: block;
	}
	li > ul {
		margin-left: $two;
	}

	.fa-folder-o:before,
	.fa-file-text-o:before {
		color: $med-gray;
		margin-right: $one;
	}
}