@import url(http://fonts.googleapis.com/css?family=Source\+Code\+Pro:200,300,400,500,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Source\+Sans\+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

@import "font-awesome/css/font-awesome.css";
@import 'styles/reset.styl'
@import 'styles/sizing-variables.styl';
@import 'styles/color-variables.styl';
@import 'styles/typography-helpers.styl';
@import 'styles/layout-helpers.styl';
@import 'styles/buttons.styl';
@import 'account/login/login.styl';
@import 'admin/admin.styl';
@import 'files/files.styl';
@import 'main/main.styl';
@import 'projects/allProjects/allProjects.styl';
@import 'projects/newProject/newProject.styl';
@import 'repoTemplates/repoTemplates.styl';
@import 'navbar/navbar.styl';
@import 'footer/footer.styl';

html {
  position: relative;
  min-height: 100%;
  // This sets the base px size for all rem units
  font-size: 12px;
}

body {
   // Margin bottom by footer height
  margin-bottom: $five;
}

a:hover {
  cursor: pointer;
}

.page-wrapper {
  margin-top: $five;
}

.header {
  margin-bottom: 20px;
}


