@import 'styles/reset.styl'
@import 'styles/sizing-variables.styl';
@import 'styles/color-variables.styl';
@import 'styles/typography-helpers.styl';
@import 'styles/layout-helpers.styl';
@import 'styles/buttons.styl';
@import 'account/login/login.styl';
@import 'admin/admin.styl';
@import 'brackets/brackets.styl';
@import 'files/files.styl';
@import 'main/main.styl';
@import 'projects/allProjects/allProjects.styl';
@import 'navbar/navbar.styl';
@import 'footer/footer.styl';

html {
  position: relative;
  min-height: 100%;
  // This sets the base px size for all rem units
  font-size: 12px;
}

body {
   // Margin bottom by footer height
  margin-bottom: $five;
}

a:hover {
  cursor: pointer;
}

.page-wrapper {
  margin-top: $five;
}

.header {
  margin-bottom: 20px;
}


