iframe {
	border: 1px solid rgba(0,0,0,0.2);
	width: 100%;
	height: 800px;
	background:url(../images/loading.gif) no-repeat center center
}

a.success {
	text-decoration: none;

	&:hover i{
		color: $dark-green;
	}
}