<div ng-include="'components/navbar/navbar.html'"></div>

<div class="page-wrapper files">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-12">
	    	<div class="header clear-after">
	    		<div ng-show="checkBranches" class="pull-left">
		      	<a ng-show="isDeployed" ng-href="http://{{username}}.github.io/{{repoName}}" target="_blank" >View your most recent commit at {{username}}.github.io/{{repoName}}</a>
		      	<a ng-hide="isDeployed" ng-click="addDeployBranch()" target="_blank" >Deploy this Project</a>
		      </div>
		      <div class="pull-right">
		      		<span ng-show="committing" class="margin-two--right pull-left success">Committing...</span>
		      		<a ng-click="dismissNotification()" class="margin-two--right pull-left success" ng-show="success">
		      			<i class="fa fa-times-circle"></i>
		      			<span>Commit created!</span>
		      		</a>
		      		<a ng-click="dismissNotification()" class="margin-two--right pull-left error" ng-show="error">
		      			<i class="fa fa-times-circle"></i>
		      			<span>Commit failed, please try again</span>
		      		</a>
		      	<a href="" ng-click="createCommit()" class="btn btn-default btn-blue">Commit Changes</a>
		      </div>
		    </div>
	      <brackets></brackets>
	    </div>
	  </div>
	</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
