<div ng-include="'components/navbar/navbar.html'"></div>

<div class="page-wrapper all-projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header clear-after">
          <h1 class="pull-left">Your Projects</h1>
          <a href="/newproject" class="pull-right btn btn-default btn-blue">Create a new project</a>
        </div>
        <div>
          <h4 ng-show="loading">Loading...</h4>
          <table ng-hide="loading" class="projects table table-striped table-responsive">
            <thead>
              <th>Repo Name</th>
              <th>Branch</th>
              <th>Last Updated</th>
            </thead>
            <tbody>
              <tr ng-repeat='project in projects'>
                <td><a href="" ng-click="getRepoFiles(project.name, selectedbranch)">{{project.name}}</a></td>

                <td> 
                  <select ng-model="selectedbranch"
                    ng-options="opt.name as opt.name for opt in project.branches">
                  </select>
                </td>

                <td>{{project.updated_at | date:'h:mm a, MMM d, y'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>