<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container navbar-header clear-after">
    <a class="navbar-brand float-left" href="/">Appception</a>
    <ul ng-show="isLoggedIn()" class="nav navbar-nav">
      <li ng-class="{active: isActive(item.link)}">
        <a ng-href="/projects">Projects</a>
      </li>
      <li ng-class="{active: isActive(item.link)}" >
        <a ng-href="/newproject" class="btn btn-blue-outline">+ New Project</a>
      </li>
    </ul>

    <ul class="nav navbar-nav float-right">
      <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="" ng-click="loginOauth('github')" class="btn btn-outline"><i class="fa fa-github"></i>
        <span>Login with Github</span></a></li>
      <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p></li>
      <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
    </ul>
  </div>
</div>
