.navbar {
  background-color: white;
  height: $five;
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: $two;

  a {
    text-decoration: none;
  }
}

.navbar-header {
  padding: $one-and-half 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);

  .navbar-nav > li {
    float: left;
    padding-right: $two;

    a {
      // color: #000;
      text-transform: uppercase;

      &:hover {
        color: $true-blue
      }
    }

    p {
      opacity: 0.6;
    }
  }
}

.navbar-brand {
  font-family: 'Source Code Pro', monospace;
  color: #000;
  font-size: $two;
  margin-right: $three;
  position: relative;
  top: -1px;
}
