button {
	appearance: none;
	-webkit-appearance: none;
}

.btn {
	outline: none;
	font-size: $one-and-half;
	padding: $half $one;
	border-radius: $half;
	border: none;
}

.btn-lg {
	padding: $one $two;
	font-size: $two-and-half;
	margin-top: $two;
	border-radius: $one;
}

.btn-blue {
	background-color: $blue;
}
.btn-lg .fa {
	font-size: 33px;
	margin: 0 10px 0px 0px;
}

button {
	outline: none;
}