$blue = #00CAFF;
$yellow = #FDDE35;
$black = #111;
$white = #FFF;
$pale-gray = #FDFCFC;
$light-gray = #F0F0F4;
$med-light-gray = #B8B8BB;
$med-gray = #8E8989;
$dark-gray = #16161E;

$black = #22262B;
$gray = #33363C;
$red = #FF3F40;
$blue = #2BB29D;
$white = #FFFFFF;
$true-blue = #209AE5;
$green = #33BF5C;
$dark-green = #20813D;