// base px size is 12

$half = .5rem;
$one = 1rem;
$one-and-half = 1.5rem;
$two = 2rem;
$two-and-half = 2.5rem;
$three = 3rem;
$three-and-half = 3.5rem;
$four = 4rem;
$four-and-half = 4.5rem;
$five = 5rem;
