@import "font-awesome/css/font-awesome.css";
@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic');

$source-code = 'Source Code Pro', monospace;
$source-sans = 'Source Sans Pro', sans-serif;

body {
	font-family: $source-sans;
	font-size: $one-and-half;
	line-height: $two;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Code Pro', monospace;
}

h1 {
	font-size: 55px;
	font-weight: 300;
	margin-bottom: 10px;
}

p{
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $source-code;
	font-weight: 300;
}

h1 {
	font-size: $four;
	line-height: $three-and-half;
	margin-bottom: $one-and-half;
}

h2 {
	font-size: $two-and-half;
	line-height: $three;
	margin-bottom: $one;
}

h3 {
	font-size: $two;
	line-height: $three;
	margin-top: $one;
	margin-bottom: $one;
}

p {
	font-size: $one-and-half;
	line-height: $two;
	margin-bottom: $two;
}

a {
	color: $true-blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.text-center {
	text-align: center;
}

.thin {
	font-weight: 300;
}

.large {
	font-size: $two-and-half;
	line-height: $three
}

.small {
	font-size: 1.3rem;
	line-height: 1.8rem;
}

.italic {
	font-style: italic;
}

.gray {
	color: $med-gray;
}

.success {
	color: $green
}

.error {
	color: $red;
}