
$source-code = 'Source Code Pro', serif;
$source-sans = 'Source Sans Pro', serif;

body {
	font-family: $source-sans;
	font-size: $one-and-half;
	line-height: $two;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $source-code;
	font-weight: 300;
}

h1 {
	font-size: $four;
	line-height: $three-and-half;
	margin-bottom: $one-and-half;
}

h2 {
	font-size: $two-and-half;
	line-height: $three;
	margin-bottom: $one;
}

h3 {
	font-size: $two;
	line-height: $three;
	margin-top: $one;
	margin-bottom: $one;
}

p {
	font-size: $one-and-half;
	line-height: $two;
	margin-bottom: $two;
}

a {
	color: $true-blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.text-center {
	text-align: center;
}

.thin {
	font-weight: 300;
}

.large {
	font-size: $two-and-half;
	line-height: $three
}

.small {
	font-size: 1.3rem;
	line-height: 1.8rem;
}

.italic {
	font-style: italic;
}

.gray {
	color: $med-gray;
}

.success {
	color: $green
}

.error {
	color: $red;
}