.main {
	background: #050104;
	color: white;

	.navbar {
  	background-color: transparent;
  	color: white;
	}

	.navbar-brand {
		color: white;
	}

	.navbar-default .navbar-nav > li > a {
		color: white;
	}

	.group {
		&.hero {
			margin: 200px 0;
		}

		&.support {
			padding-bottom: 140px;
		}
	}
}


.group {
	.align-center{
		text-align: center;
	}
}

.hero {

	.text-center{
	}

	.background {
		background: url('images/stars2.jpg') no-repeat center center;
		background-size: cover;
	}
}

.support {
	z-index: 5;
	color: white;
	// background-image: linear-gradient(0,#050104 1%,#241d24 69%,rgba(36, 29, 36, 0.87) 80%,rgba(36, 29, 36, 0.48) 90%,rgba(36,29,36,0.09) 98%,rgba(36, 29, 36, 0) 100%);
}

.cta {
}
