.main {
	color: white;
	background:
		linear-gradient(0,#050104,rgba(5,1,4,.93),rgba(5, 1, 4, 0.36)),url(../images/maze.jpg) no-repeat center center;
	background-size: cover;

	.navbar {
  	background-color: transparent;
  	color: white;

  	.navbar-header {
  		border-bottom: 1px solid rgba(255,255,255,0.5);
  	}
	}

	.navbar-brand {
		color: white;
	}

	.navbar-default .navbar-nav > li > a {
		color: white;
	}

	h1 {
		font-weight: 600
	}

	.group {
		&.hero {
			margin: 200px 0;
		}

		&.support {
			padding-bottom: 140px;
		}
	}

	footer {
		background: #050104;

		.container {
			border-top: 1px solid rgba(255,255,255, 0.5)

			a {
				color: white

				&:hover {
					color: $blue
				}
			}
		}
	}

	.btn-outline {
		border-color: $white;
	}
}

