<div class="main">
  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="group hero">
    <div class="background">
      <div class="container">
        <div class="row text-center">
          <a ng-click="getTemplates()">Get Templates</a>
    	   	<h1>A Web App to Make Web Apps</h1>
    	    <p class="large">Appception has made it easier than ever to start programming. Sign in with Github to see for yourself!</p>
    	    <button class="btn btn-outline btn-lg" ng-click="loginOauth('github')">
            <i class="fa fa-github"></i>
            <span>Login with Github</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="group support">
    <div class="layer layer--base">
      <div class="container">
        <div class="text-center clear-after">
          <div class="third float-left">
            <i class="fa fa-keyboard-o"></i>
          	<h2>Start coding in a flash</h2>
          	<p>New to programming? No problem, we have a bunch of file templates from which you can easily create a new project. Then use our code editor to start coding!</p>
          </div>
          <div class="third float-left">
            <i class="fa fa-github"></i>
          	<h2>Get familiar with Git</h2>
          	<p>Intimidated by the command line? Appception allows you to commit, branch, and create new repos on Github, all by using a lovely interface.</p>
          </div>
          <div class="third float-left">
            <i class="fa fa-desktop"></i>
          	<h2>Show your project off</h2>
          	<p>Appception repos are given a unique URL courtesy of Github Pages, so you can send a link around to friends. Show everyone what a great developer you've become!</p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div ng-include="'components/footer/footer.html'"></div>
</div>


