body {
	width: 100%;
	font-family: 'Arial', sans-serif;
	background-color: #FFFEE5;
	margin: 0;
}

.container {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
